/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$peach-color:#F79FBF;

#content{
	background: $peach-color;
	background-image: url('../images/texture.png');
	background-repeat: repeat;
	background-size: 1%;
	height: 100%;
	width: 100%;
	position: absolute;

	.border{
		border-radius: 0px 0px 0px 0px;
		-moz-border-radius: 0px 0px 0px 0px;
		-webkit-border-radius: 0px 0px 0px 0px;
		border: 13px groove #00BEFF;
		width: 400px;
		height: 400px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -200px;
		margin-left: -200px;
		background: #ccf3ff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ccf3ff 0%, #91e7ff 49%, #f2b8f1 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #ccf3ff 0%,#91e7ff 49%,#f2b8f1 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #ccf3ff 0%,#91e7ff 49%,#f2b8f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccf3ff', endColorstr='#f2b8f1',GradientType=0 ); /* IE6-9 */

		.logo{
			position: absolute;
			background: url('../images/logo.png');
			width: 400px;
			height: 108px;
			background-size:100%;
			top: -108px;
			z-index: 999;
		}

		.hidden{
			overflow: hidden;
			width: 400px;
			height: 400px;
			position: relative;

			.count{
				font-family: courier;
				font-weight: bold;
				font-size: 30px;
				position: absolute;
				top: 5px;
				left: 5px;
				color: #d77f9f;
				z-index: 99999;

				img{
					width: 15px;
				}
			}

			.peach{
				width: 75px;
				height: 111px;
				background-image: url('../images/peach-face.gif');
				z-index: 99999999;
				position: absolute;
				bottom: 48px;
				left: 50%;
				margin-left: -35px;
			}

			.right{
				background-image: url('../images/peach-right.gif');
			}

			.left{
				background-image: url('../images/peach-left.gif');
			}

			.top{
				background-image: url('../images/peach-jump.gif');
			}

			.map{
				width: 3000px;
				height: 400px;
				background-image: url('../images/map-peach.png');
				position: absolute;

				.flower{
					background: url("../images/flower.png");
					width: 40px;
					height: 43px;
					z-index: 999999;
					background-size: 100%;
					background-repeat: no-repeat;
					bottom:49px;
					position: absolute;
				}
				.flower.nb1{
					left: 600px;
				}
				.flower.nb2{
					left:1494px;
				}
				.flower.nb3{
					left: 2000px;
				}

				.coin{
					background: url("../images/coin.gif");
					width: 30px;
					height: 42px;
					z-index: 999999;
					background-size: 100%;
					background-repeat: no-repeat;
					bottom:200px;
					position: absolute;
				}
				.coin.nb1{
					left: 500px;
					bottom: 120px;
				}
				.coin.nb2{
					left: 550px;
					bottom: 160px;
				}
				.coin.nb3{
					left: 600px;
				}
				.coin.nb4{
					left: 1600px;
				}
				.coin.nb5{
					left: 1650px;
					bottom: 160px;
				}
				.coin.nb6{
					left: 1700px;
					bottom: 120px;
				}
				.coin.nb7{
					left: 2500px;
					bottom: 60px;
				}
			}
		}
	}
}